<section class="informative">
  <h2>Controlled Vocabularies</h2>

<h3>Requirements for controlled vocabularies</h3>
The following is a list of requirements that were identified for the controlled vocabularies to be recommended in this Application Profile.
Controlled vocabularies SHOULD:
<ul>
<li>Be published under an open licence.</li>
<li>Be operated and/or maintained by an institution of the European Union, by a recognised standards organisation or another trusted organisation.</li>
<li>Be properly documented.</li>
<li>Have labels in multiple languages, ideally in all official languages of the European Union.</li>
<li>Contain a relatively small number of terms (e.g. 10-25) that are general enough to enable a wide range of resources to be classified.</li>
<li>Have terms that are identified by URIs with each URI resolving to documentation about the term.</li>
<li>Have associated persistence and versioning policies.</li>
</ul>
These criteria do not intend to define a set of requirements for controlled vocabularies in general; they are only intended to be used for the selection of the controlled vocabularies that are proposed for this Application Profile.

<h3>Controlled vocabularies to be used</h3>
In the table below, a number of properties are listed with controlled vocabularies that MUST be used for the listed properties. The declaration of the following controlled vocabularies as mandatory ensures a minimum level of interoperability.
        <table id="table-cv" class="simple">
            <thead><tr><th>Property URI</th><th>Used for Class</th><th>Vocabulary name</th><th>Vocabulary URI</th><th>Usage note</th></tr></thead>
            <tbody>
<tr><td>dcat:mediaType</td><td>Distribution</td><td>IANA Media Types </td><td>http://www.iana.org/assignments/media-types/media-types.xhtml </td><td></td></tr>
<tr><td>dcat:theme</td><td>Dataset</td><td>Dataset Theme Vocabulary</td><td></td><td>http://publications.europa.eu/resource/authority/data-theme</td><td>Thevalues to be used for this property are the URIs of the concepts in the vocabulary.</td></tr>
<tr><td>dcat:themeTaxonomy</td><td>Catalogue</td><td>Dataset Theme Vocabulary</td><td> </td><td>http://publications.europa.eu/resource/dataset/data-theme</td><td>The value to be used for this property is the URI of the vocabulary itself, i.e. the concept scheme, not the URIs of the concepts in the vocabulary.</td></tr>
<tr><td>dct:accrualPeriodicity</td><td>Dataset</td><td>EU Vocabularies  Frequency Named Authority List </td><td>http://publications.europa.eu/resource/authority/frequency</td><td></td></tr>
<tr><td>dct:format</td><td>Distribution</td><td>EU Vocabularies File Type Named Authority List </td><td>http://publications.europa.eu/resource/authority/file-type</td><td></td></tr>
<tr><td>dct:language</td><td>Catalogue,</td><td>Dataset, Catalogue Record, Distribution</td><td>EU Vocabularies Languages Named Authority List </td><td>http://publications.europa.eu/resource/authority/language</td><td></td></tr>
<tr><td>dct:publisher</td><td>Catalogue,</td><td>Dataset</td><td>EU Vocabularies Corporate bodies Named Authority List</td><td>http://publications.europa.eu/resource/authority/corporate-body The Corporate bodies NAL must be used for European institutions and a small set of international organisations. In case of other types of organisations, national, regional or local vocabularies should be used.</td></tr>
<tr><td>dct:spatial</td><td>Catalogue,Dataset</td><td>EU Vocabularies Continents Named Authority List , EU Vocabularies Countries Named Authority List , EU Vocabularies Places Named Authority List, Geonames</td><td>http://publications.europa.eu/resource/authority/continent/, http://publications.europa.eu/resource/authority/country, http://publications.europa.eu/resource/authority/place/, http://sws.geonames.org/ </td><td> The EU Vocabularies Name Authority Lists must be used for continents, countries and places that are in those lists; if a particular location is not in one of the mentioned Named Authority Lists, Geonames URIs must be used.</td></tr>
<tr><td>adms:status</td><td>Distribution</td><td>ADMS status vocabulary</td><td>http://purl.org/adms/status/1.0</td><td>The list of terms in the ADMS status vocabulary is included in the ADMS specification </td></tr>
<tr><td>dct:type</td><td>Agent</td><td>ADMS publisher type vocabulary</td><td>http://purl.org/adms/publishertype/1.0 </td><td> The list of terms in the ADMS publisher type vocabulary is included in the ADMS specification</td></tr>
<tr><td>dct:type</td><td>Licence</td><td>Document</td><td>ADMS licence type vocabulary</td><td>http://purl.org/adms/licencetype/1.0 </td><td> The list of terms in the ADMS licence type vocabulary is included in the ADMS specification</td></tr>
<tr><td>dcatap:availability</td><td>Distribution</td><td>Distribution availability vocabulary</td><td>http://publications.europa.eu/resource/authority/planned-availability</td><td>The list of terms for the avalability levels of a dataset distribution in the DCAT-AP  specification.</td></tr>
<tr><td>spdx:algorithm</td><td>Checksum</td><td>Checksum algorithm members</td><td>https://spdx.org/rdf/terms/#d4e1968</td><td>The members listed are considered a controlled vocabulary of supported checksum algorithms.</td></tr>
<tr><td>dct:accessRights</td><td>Dataset,</td><td>Data Service</td><td>Access Rights Named Authority List</td><td>http://publications.europa.eu/resource/authority/access-right</td><td>Use one of the following values (:public, :restricted, :non-public).</td></tr>
            </tbody>
            </table>


In the table below, a number of properties are listed with controlled vocabularies that MAY be used for the listed properties. The declaration of the following controlled vocabularies as recommended stimulates interoperability.
Property URI	Used for Class	Vocabulary name	Vocabulary URI	Usage note
dct:type	Dataset	Dataset-type authority table	http://publications.europa.eu/resource/dataset/dataset-type	This list of terms provide types of datasets.

Its main scope is to support dataset categorisation of the EU Open Data Portal.

<h3>Other controlled vocabularies</h3>
In addition to the proposed common vocabularies in section 5.2, which are mandatory to ensure minimal interoperability, implementers are encouraged to publish and to use further region or domain-specific vocabularies that are available online. While those may not be recognised by general implementations of the Application Profile, they may serve to increase interoperability across applications in the same region or domain. Examples are the full set of concepts in EuroVoc , the CERIF standard vocabularies , the Dewey Decimal Classification  and numerous other schemes.

<h3>Licence vocabularies</h3>
Concerning licence vocabularies, implementers are encouraged to use widely recognised licences such as Creative Commons licences , and in particular the CC Zero Public Domain Dedication , the Open Data Commons Public Domain Dedication and License (PDDL) , the European Union Public Licence (EUPL)  or an open government licence such as the UK Open Government Licence .
Further activities in this area are undertaken by the Open Data Institute  with the Open Data Rights Statement Vocabulary  and by the Open Digital Rights Language (ODRL) Initiative .
 
