<section class="informative">
<h2>Conformance Statement</h2>
<h3>Provider requirements</h3>
In order to conform to this Application Profile, an application that provides metadata MUST:
<ul>
<li>Provide a description of the Catalogue, including at least the mandatory properties specified in section 4.1.1.</li>
<li>Provide information for the mandatory properties specified in section 4.2.1, if descriptions of Catalogue Records are provided – please note that the provision of descriptions of Catalogue Records is optional.</li>
<li>Provide descriptions of Datasets in the Catalogue, including at least the mandatory properties specified in section 4.4.1.</li>
<li>Provide descriptions of Distributions, if any, of Datasets in the Catalogue, including at least the mandatory properties specified in section 4.5.1.</li>
<li>Provide descriptions of Data Services, if any, of Datasets in the Catalogue, including at least the mandatory properties specified in section 4.3.1</li>
<li>Provide descriptions of all organisations involved in the descriptions of Catalogue and Datasets, including at least the mandatory properties specified in section 4.6.1.</li>
<li>Provide descriptions of all category schemes that contain the categories that are asserted in any of the descriptions of Datasets in the Catalogue, including at least the mandatory properties specified in section 4.7.1.</li>
<li>Provide descriptions of all categories involved in the descriptions of Datasets in the Catalogue, including at least the mandatory properties specified in section 4.8.1.</li>
</ul>
For the properties listed in the table in section 5.1 , the associated controlled vocabularies MUST be used. Additional controlled vocabularies MAY be used.
In addition to the mandatory properties, any of the recommended and optional properties defined in section 4 MAY be provided.
Recommended and optional classes may have mandatory properties, but those only apply if and when an instance of such a class is present in a description.
<h3>Receiver requirements</h3>
In order to conform to this Application Profile, an application that receives metadata MUST be able to:
<li>Process information for all classes specified in section 3.</li>
<li>Process information for all properties specified in section 4. </li>
<li>Process information for all controlled vocabularies specified in section 5.2.</li>
As stated in section 3, "processing" means that receivers must accept incoming data and transparently provide these data to applications and services. It does neither imply nor prescribe what applications and services finally do with the data (parse, convert, store, make searchable, display to users, etc.).
</section>
