{% block legal %}
<section class="informative">
  <h2>Legal information</h2>
  
  Concerning licence vocabularies, implementers are encouraged to use widely recognised licences such as Creative Commons licences , and in particular the CC Zero Public Domain Dedication , the Open Data Commons Public Domain Dedication and License (PDDL) , the European Union Public Licence (EUPL)  or an open government licence such as the UK Open Government Licence .
Further activities in this area are undertaken by the Open Data Institute  with the Open Data Rights Statement Vocabulary  and by the Open Digital Rights Language (ODRL) Initiative .


</section>
{% endblock %}
